{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <h1>About page</h1>
    <br>
    <p1> We are proud to have been recognized with various awards over time, reflecting our commitment to excellence and
        innovation in real estate.
    </p1>
    <br>
    <br>
    <p2> It is your trusted source for information on the real estate market in Romania. Whether you are looking for some
        advice from real estate experts or the latest market news, IMOB.RO is the right resource
        for your real estate needs.
    </p2>
    <br>

    <div>
        <img src="{% static 'IMOB.jpeg' %}" alt="Profile Image" class="img-fluid" width="500" height="500">
    </div>
{% endblock content %}

